# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text

# Declare files that will always have LF
*.namd text eol=lf
*.pdb text eol=lf
*.psf text eol=lf
*.str text eol=lf
*.prm text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.pdf binary
*.svg binary
*.key binary
